<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>TireVault</title>
</head>
<body>

<div class="container-fluid" th:fragment="content">
    <div class="row min-vh-100">
        <main class="col-md-10 p-5 mx-auto mt-5">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center p-5">
                    <!-- Залишив тільки потрібний текст -->
                    <h3>Тут будуть заявки клієнтів</h3>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>