<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<body>

<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;" th:fragment="menu">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">TireVault</span> </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                <use xlink:href="#home"></use>
            </svg>
            Головна
        </a></li>
        <li><a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                <use xlink:href="#speedometer2"></use>
            </svg>
            Послуги
        </a></li>
        <li><a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                <use xlink:href="#grid"></use>
            </svg>
            Автотовари
        </a></li>
        <li><a href="#" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                <use xlink:href="#grid"></use>
            </svg>
            Мої замовлення
        </a></li>
    </ul>
    <hr>

    <div th:if="${session.loggedUser == null}">
        <a href="/auth" class="btn btn-outline-light w-100 d-flex align-items-center justify-content-center fw-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            Увійти
        </a>
    </div>

    <div th:if="${session.loggedUser != null}" class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle me-2" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <strong th:text="${session.loggedUser.username}"></strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow w-100">
            <li><a class="dropdown-item" href="#">Акаунт</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="/logout">Вийти</a></li>
        </ul>
    </div>
</div>

</body>
</html>