<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TireVault</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="icon" th:href="@{/assets/logo/logo1.png}" type="image/png">
</head>
<body>

<div class="app-layout d-flex flex-column min-vh-100">
    <div th:replace="~{fragments/header :: navbar}"></div>
    <div class="d-flex flex-grow-1">
        <div th:replace="~{fragments/sidebar :: menu}"></div>
        <div class="flex-grow-1 p-4">
            <div th:replace="~{'pages/' + ${page} :: content}"></div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <a href="/contacts"
       class="position-fixed bottom-0 start-0 m-4 text-white lh-1"
       title="Контакти">
        <i class="bi bi-telephone fs-2"></i>
    </a>
    <button id="scrollTopBtn"
            class="position-fixed bottom-0 end-0 m-4 bg-transparent border-0 text-danger lh-1 p-0"
            title="Вгору">
        <i class="bi bi-arrow-up fs-1"></i>
    </button>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/cart.js}"></script>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>